
body {
    display: flex;
    justify-content: center;
}
.calculator {
    border: #292F36 solid 5px;
    border-radius: 5px;
    height: 500px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6, 1fr)
}
.display-screen {
    grid-column: 1 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 32px;
    border: #292F36 solid 2px;
    background-color: lightgrey;

}
.calButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px;
    border-color: #292F36;
    background-color: #4ECDC4;
    color: #2C2C54;
    font-weight: 900;
    font-size: large;
    transition: all .12s ease;
}
.operatorButton {
    background-color: #FF6B6B;

}
.equalsButton {
    grid-column: 1/4;
}
.pressed {
    transform: scale(1.1);
    border-color: #F7FFF7;
}