
body {
    display: flex;
    justify-content: center;
}
.calculator {
    border: dodgerblue solid 5px;
    height: 500px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6, 1fr)
}
.display-screen {
    grid-column: 1 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 32px;
    border-bottom: dodgerblue solid 5px;
    background-color: lightgrey;

}
.calButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px;
    border-color: dodgerblue;
}
.equalsButton {
    grid-column: 1/5;
}